.login-bg ::before {
    content: "";
    background: linear-gradient(to bottom right, rgb(255, 200, 200), rgb(218, 255, 254)) no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
    filter: contrast(80%);
}


.form-control{
    border: 1px solid black;
}