.navbar-color{
    background-color: rgb(255, 253, 208);
    box-shadow: 3px 3px 10px 2px rgb(157 157 157);
}
.navbar-search{
    width: 30rem;
    border-radius: 20px;
}
.navbar-search-button{
    margin-right: 10rem;
    border-radius: 20px;
}